<title>{{title}}</title>

<h2 class="page-title">{{title}}</h2>

@if (errorMessage) {
  <p class="errorMsgCard">
    {{ errorMessage }}
  </p>
}



<!-- Make a new or edit classified ad post -->
<form id="add-or-edit-post-form" [formGroup]="addOrEditPostForm"  (ngSubmit)="submitForm()">
  <!-- make a go back button using page navigation history -->
  <div class="buttons-section">
    <a class="go-back-button" (click)="goBack()" *ngIf="canGoBack">Go Back</a>
  </div>

  <div class="form-group">
    <label for="title">Title <strong>*</strong></label>
    <input type="text" class="form-control" id="title" name="title" formControlName="title" required>
  </div>

  <div class="form-group">
    <label for="price">Price <strong>*</strong></label>
    <input type="number" class="form-control" id="price" name="price" formControlName="price" required>
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address" formControlName="address">
  </div>

  <!-- upload a thumbnial -->
  <div class="form-group">
    <label for="thumbnail">Thumbnail</label>
    <input type="file" class="form-control" id="thumbnail" name="thumbnail" formControlName="thumbnail">
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone" formControlName="phone">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" formControlName="email">
  </div>

  <div class="form-group text-form-group">
    <label for="description">Description <strong>*</strong></label>
    <editor apiKey="{{apiKey}}" [init]="init" formControlName="description" required/>
  </div>

  <div id="btn-group">
    <button type="submit" class="btn btn-primary" id="submit-button" [disabled]="addOrEditPostForm.invalid">Submit</button>
    <button type="button" class="btn btn-secondary" id="cancel-button" (click)="goBack()">Cancel</button>
  </div>

</form>
