<title>{{title}}</title>

<h2 class="page-title">{{title}}</h2>

@if (errorMessage) {
  <p class="errorMsgCard">
    {{ errorMessage }}
  </p>
}

<!-- make a go back button using page navigation history -->
<a class="go-back-button" (click)="goBack()" *ngIf="checkCanGoBack()">Go Back</a>

<div id="ad-item" *ngIf="this.postId">
  <div class="buttons-section" *ngIf="isOwner">
    <a class="edit-button" [routerLink]="'/posts/by-id/'+adPost.id+'/edit'">Edit</a>
    <button class="delete-button" (click)="openDeleteModal()">Delete</button>
  </div>

  <!-- category and subCategory -->
  <p class="ad-category"><strong>Category:</strong> {{adPost.category.name}}</p>
  <p class="ad-sub-category"><strong>Sub Category:</strong> {{adPost.subCategory.name}}</p>

  <img src="{{getPostThumbnailUrl()}}" alt="{{adPost.title}}">

  <h3 class="ad-title">{{adPost.title}}</h3>
  <!-- this parses the html tags inside the description (or the absence of them and displays them accordingly) -->
  <div class="ad-description" [innerHTML]="adPost.description"></div>

  <p class="ad-price"><strong>Price:</strong> ${{adPost.price}}</p>
  <p class="ad-address"><strong>Address:</strong> {{adPost.address}}</p>
  <p class="ad-phone"><strong>Phone:</strong> {{adPost.phone}}</p>
  <p class="ad-email"><strong>Email:</strong> {{adPost.email}}</p>
  <p class="ad-owner"><strong>Owner:</strong> {{adPost.owner.name}}</p>

</div>

<!-- Delete Confirmation Modal -->
<modal-delete-post
  [isVisible]="populateDeleteModal"
  (confirm)="confirmDelete()"
  (cancel)="closeDeleteModal()">
</modal-delete-post>
