#ads-listings-horizontal
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 1rem


// If mobile
@media screen and (max-width: 768px)
  #ads-listings-horizontal
    flex-direction: column
