<h2 class="page-title">Browse Ads</h2>

@if (errorMessage) {
  <p class="errorMsgCard">
    {{ errorMessage }}
  </p>
}


<!-- This is the container of the ads listing, have something like a horizontal list with the following dom parts: title, content (first 100 characters), thumbnail, price, location -->
<div id="ads-listings-horizontal">
  @for(ad of adsList; track ad.id) {
    <post-list-item
      [ad]="ad"
      [thumbnailURL]="getPostThumbnail(ad.thumbnail)"
    ></post-list-item>
  }
</div>
