<h2 class="page-title">
  Profile
</h2>

<!-- if no errorMessage, display page, otherwise, display error  -->
 @if (errorMessage) {
   <p class="errorMsgCard">
     {{ errorMessage }}
   </p>

   <a routerLink="/login">Click here to redirect immediately to the login page</a>
} @else {

  <div class="go-back-button-wrapper">
    <!-- make a go back button using page navigation history -->
    <a class="go-back-button" (click)="goBack()" *ngIf="checkCanGoBack()">Go Back</a>
  </div>

  <p>
    Welcome, {{ userData.name }}!
  </p>

  <h3>
    Your classified ads
  </h3>

  <!-- a new post btn -->
  <div id="new-button-section">
    <a routerLink="/posts/new" class="btn btn-primary" id="new-ad-button">
      Post a new ad
    </a>
  </div>

  <p *ngIf="latestPosts.length === 0">
    You haven't posted any classified ads yet.
  </p>

  @if (latestPosts.length > 0) {
    <div id="my-posts-list">
      @for(ad of latestPosts; track ad.id) {
        <post-list-item
          [ad]="ad"
          [thumbnailURL]="getPostThumbnail(ad.thumbnail)"
        ></post-list-item>
      }
    </div>
  }
}
