@import './app/global/styles/fontStyles.sass'
@import './app/global/styles/containers.sass'
@import './app/global/styles/fontStylesAll.sass'
@import './app/global/styles/media.sass'
@import './app/global/styles/buttons.sass'
// @import './app/global/styles/forms.sass'

*
  font-family: 'Lato', sans-serif

body
  width: 100%
  min-height: 100vh
  margin: 0


app-root
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between

#main
  display: flex
  flex-direction: column
  justify-content: top
  flex-grow: 1
  padding: 0.5rem 1.2rem
  margin: 0
  padding: 0

.errorMsgCard
  background-color: #f8d7da
  color: #721c24
  border: 1px solid #f5c6cb
  padding: 0.75rem 1.25rem
  margin: 0.9rem
  border-radius: 0.25rem

.successMsgCard
  background-color: #d4edda
  color: #155724
  border: 1px solid #c3e6cb
  padding: 0.75rem 1.25rem
  margin: 0.9rem
  border-radius: 0.25rem
